<div class="app-container">
  <!-- Sidebar จะถูกซ่อนในหน้า Login -->
  <ng-container *ngIf="!isLoginPage()">
    
    <app-sidebar #sidebar class="sidebar"></app-sidebar>
  </ng-container>

  <div class="main-content" [ngClass]="{'content-shifted': sidebar?.isMenuOpen || false}">
    <!-- Navbar จะถูกซ่อนในหน้า Login -->
    <ng-container *ngIf="!isLoginPage()">
      <app-navbar class="navbar"></app-navbar>
    </ng-container>

    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>