/* sidebar.component.css */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 70px; /* Default sidebar width */
  background-color: #333;
  transition: width 0.5s ease;
  overflow: hidden;
  z-index: 1000;
}

.sidebar.open {
  width: 250px; /* Expanded width */
}

.menu-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  height: 5px;
  background-color: white;
  border-radius: 2px;
  transition: transform 0.3s ease;
}

.menu-content {
  margin-top: 80px;
}

.menu-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-content ul li {
  padding: 15px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.menu-content ul li:hover {
  background-color: #444;
}

.menu-content ul li .icon {
  margin-right: 10px;
  font-size: 24px;
}

.menu-content ul li span {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.menu-content ul li span.visible {
  display: inline;
  opacity: 1;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.dropdown-header {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 15px;
  transition: background-color 0.3s ease;
}

.dropdown:hover > .dropdown-header {
  background-color: #444;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  margin-top: 5px;
  width: 100%;
}

.dropdown-menu li {
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu li:hover {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}

.dropdown-icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}
